.app-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.image {
  border-radius: 20px;
  border-style: none;
  margin-bottom: 5px;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
}
