.thumbnail {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border-style: none;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 0.5;
}

.active-thumbnail {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border-style: none;
  margin-left: 3px;
  margin-right: 3px;
  opacity: 1;
}
